

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Open Sans', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  padding: 0;
  list-style: none;
}


.circleContainer {
    display: flex;
    margin: 0 -15px;
    align-items: center;
}

.circle_area {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 100px;
}

.circle_left {
    width: 450px;
    text-align: right;
    flex-shrink: 0;
}

.circle_box {
    padding: 0 15px;
    color: #fff;
}

.circle_left {
}

.circle_right {
    text-align: left;
    width: 450px;
    flex-shrink: 0;
}

.allIcons img {
    width: 146%;
}

.allIcons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 147px;
}

.bodyWrap {
    overflow: hidden;
    background-image: url('assets/img/tokken_bg.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.circle2 {
    margin-top: 190px;
    max-width: 253px;
    margin-right: auto;
}

.circle5 {
    margin-top: 188px;
    max-width: 258px;
    margin-left: auto;
}

.tokken_progressArea {
    padding-top: 119px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.progress_box {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.progress_box img {
    display: block;
    max-width: 104px;
    margin: 0 auto;
}

.circle_box.circle1 {
    max-width: 230px;
    margin-left: auto;
    margin-right: -24px;
    margin-top: -26px;
    margin-top: 71px;
}

.circle_cont p {
    font-size: 20px;
    line-height: 127%;
    letter-spacing: .3px;
}

.circle_box.circle4 {
    max-width: 440px;
    margin-top: 70px;
    margin-left: -29px;
}

.circle_box.circle4 p {
    max-width: 400px;
}

.circle_cont h2 {
    font-size: 32px;
    letter-spacing: -.3px;
    text-transform: uppercase;
}

.circle_box.circle3 {
    margin-top: 210px;
    margin-right: -23px;
    max-width: 320px;
    margin-left: auto;
}

.circle_box.circle6 {
    margin-top: 213px;
    margin-left: -29px;
    max-width: 340px;
}

.circle_box.circle6 p {
    max-width: 200px;
}

.progress_box p {
    font-size: 18px;
    line-height: 116%;
    margin: 0 auto;
    min-height: 62px;
    padding-bottom: 10px;
}

.progress_box h3 {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 23px;
}

.progress_box.progressbo-1 p {
    max-width: 170px;
}

.progress_box.progressbo-2 p {
    max-width: 120px;
}

.progress_box.progressbo-4 p {
    max-width: 130px;
}

.progress_box.progressbo-3 {
    padding-top: 9px;
}

.progress_box.progressbo-3 p {
    max-width: 180px;
}