:root {
  --primary: #edb581;
  --primary-text: #1a1a1a;
  --secondary: #edb581;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
  --web-theme:#edb581;
}

body{
  background-color: rgba(0,0,0, 0.8);
}
